<!-- ============================================ -->
<!--             Featured Specials Slider - Section             -->
<!-- ============================================ -->
<section
	id="featured-specials"
	class="pt-12 m-auto leading-6 text-gray-900 bg-white"
>
	<h1
		class="justify-start p-5 mx-5 mt-0 mb-5 text-4xl font-bold leading-10 text-center text-gray-800 opacity-100 lg:mx-40 lg:px-20 md:mx-20 md:px-10"
		style="
			animation-fill-mode: both;
			animation-duration: 1000ms;
			animation-delay: 0ms;
			animation-iteration-count: 1;
			opacity: 1;
			animation-name: react-reveal-66772924826895-1;
		"
	>
		Featured Specials
	</h1>
	<div
		class="pb-10 overflow-x-scroll leading-6 text-gray-900 opacity-100"
		style="
			animation-fill-mode: both;
			animation-duration: 1000ms;
			animation-delay: 0ms;
			animation-iteration-count: 1;
			opacity: 1;
			animation-name: react-reveal-66772924826895-1;
		"
	>
		<div class="flex ml-10 text-gray-900 flex-nowrap lg:ml-40 md:ml-20">
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- ============================================ -->
<!--             Featured Specials Slider - Div             -->
<!-- ============================================ 

<div
	id="featured-specials2"
	class="pt-12 m-auto leading-6 text-gray-900 bg-white"
>
	<h1
		class="justify-start p-5 mx-5 mt-0 mb-5 text-4xl font-bold leading-10 text-center text-gray-800 opacity-100 lg:mx-40 lg:px-20 md:mx-20 md:px-10"
		style="
			animation-fill-mode: both;
			animation-duration: 1000ms;
			animation-delay: 0ms;
			animation-iteration-count: 1;
			opacity: 1;
			animation-name: react-reveal-66772924826895-1;
		"
	>
		Featured Specials
	</h1>
	<div
		class="pb-10 overflow-x-scroll text-gray-900 opacity-100"
		style="
			animation-fill-mode: both;
			animation-duration: 1000ms;
			animation-delay: 0ms;
			animation-iteration-count: 1;
			opacity: 1;
			animation-name: react-reveal-66772924826895-1;
		"
	>
		<div class="flex ml-10 flex-nowrap lg:ml-40 md:ml-20">
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
			<div class="inline-block px-3">
				<div
					id="card"
					class="w-64 h-auto max-w-xs overflow-hidden duration-300 ease-in-out bg-white rounded-lg"
					style="
						box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
						transition-property: box-shadow;
					"
				>
					<img
						src="/assets/images/cotijas/Large-birria-tacos_IMGP.jpg"
						alt="featured special 1"
						class="block w-full h-auto max-w-full align-middle rounded-t-lg"
					/>
					<div class="w-full px-5 mx-auto my-5 font-bold text-center">
						<p class="mx-0 mt-0 mb-3">Featured Food 1</p>
						<p class="mx-0 mt-0 mb-4 text-emerald-800">$9.99</p>
						<p class="m-0">
							Ultrices mi tempus imperdiet nulla malesuada. Nec ultrices dui
							sapien eget mi proin sed libero. Orci nulla pellentesque dignissim
							enim sit amet venenatis.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
-->
