<!-- ============================================ -->
<!--                 Navigation3                   -->
<!-- ============================================ -->

<!-- ============================================ -->
<!--                 Navigation2                   -->
<!-- ============================================ -->

<header class="bg-white shadow-md">
	<nav class="container flex items-center justify-between px-4 py-4 mx-auto">
		<a
			href="/"
			class="cs-logo"
			aria-label="back to home"
			tabindex="2"
		>
			<img
				src="src/assets/images/cotijas-logo.png"
				alt="Cotijas Logo"
				class="h-12"
			/>
		</a>

		<ul class="flex space-x-6">
			{% set navPages = collections.all | eleventyNavigation %} {% for entry in
			navPages %}
			<li>
				<a
					href="{{ entry.url }}"
					class="text-gray-700 hover:text-red-500 {% if page.url == entry.url %} cs-active {% endif %}"
				>
					{{ entry.title }}
				</a>
			</li>
			{% endfor %}
		</ul>
		<button class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-600">
			Order Online
		</button>
	</nav>
</header>
