<!-- ============================================ -->
<!--                 Navigation2                   -->
<!-- ============================================ -->

<header class="bg-white shadow-md">
	<nav class="container flex items-center justify-between px-4 py-4 mx-auto">
		<!--Nav Logo-->
		<a
			href="/"
			class="cs-logo"
			aria-label="back to home"
			tabindex="2"
		>
			<img
				src="/assets/images/cotijas-logo.png"
				alt="Cotijas Logo"
				class="h-12"
			/>
		</a>

		<ul class="flex space-x-6">
			<li>
				<a
					href="#"
					class="text-gray-700 hover:text-red-500"
					>Home</a
				>
			</li>
			<li>
				<a
					href="#"
					class="text-gray-700 hover:text-red-500"
					>Menu</a
				>
			</li>
			<li>
				<a
					href="#"
					class="text-gray-700 hover:text-red-500"
					>Specials</a
				>
			</li>
			<li>
				<a
					href="#"
					class="text-gray-700 hover:text-red-500"
					>Catering</a
				>
			</li>
		</ul>
		<button class="px-4 py-2 text-white bg-red-500 rounded hover:bg-red-600">
			Order Online
		</button>
	</nav>
</header>
